.logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 850px;
}
.link{
    margin-left: 885px;
    font-size: 30px;
    text-decoration: none;
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*catalog#1*/
.catalog-item-link-1{
    text-decoration: none;
    color: black;
    font-size: 10px;
    width: 900px;
    height:250px;
}
.catalog-item-1{
    width: 900px;
    height:250px;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(224, 223, 208);
    margin-top: 40px;
    margin-left: 450px;
}
.catalog-logo-1{
    width: 200px;
    height: 230px;
}
.desk-1{
    position: absolute;
    margin-left: 220px;
    top: 350px;
}

/*catalog#2*/

.catalog-item-link-2{
    text-decoration: none;
    color: black;
    font-size: 10px;
    width: 900px;
    height:250px;
}
.catalog-item-2{
    width: 900px;
    height:250px;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(224, 223, 208);
    margin-top: 100px;
    margin-left: -50px;
}
.catalog-logo-2{
    width: 200px;
    height: 230px;
}
.desk-2{
    position: absolute;
    margin-left: 220px;
    top: 700px;
}
/*catalog#3*/

.catalog-item-link-3{
    text-decoration: none;
    color: black;
    font-size: 10px;
    width: 900px;
    height:250px;
}
.catalog-item-3{
    width: 900px;
    height:250px;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(224, 223, 208);
    margin-top: 100px;
    margin-left: -50px;
}
.catalog-logo-3{
    width: 150px;
    height: 260px;
}
.desk-3{
    position: absolute;
    margin-left: 180px;
    top: 1100px;
}

/*catalog#4*/

.catalog-item-link-4{
    text-decoration: none;
    color: black;
    font-size: 10px;
    width: 900px;
    height:250px;
}
.catalog-item-4{
    width: 900px;
    height:250px;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(224, 223, 208);
    margin-top: 70px;
    margin-left: -50px;
}
.catalog-logo-4{
    width: 190px;
    height: 260px;
}
.desk-4{
    position: absolute;
    margin-left: 220px;
    top: 1500px;
}
/*catalog#5*/

.catalog-item-link-5{
    text-decoration: none;
    color: black;
    font-size: 10px;
    width: 900px;
    height:250px;
}
.catalog-item-5{
    width: 900px;
    height:350px;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(224, 223, 208);
    margin-top: 70px;
    margin-left: -50px;
}
.catalog-logo-5{
    width: 230px;
    height: 360px;
}
.desk-5{
    position: absolute;
    margin-left: 250px;
    top: 1850px;
}

/*catalog#6*/

.catalog-item-link-6{
    text-decoration: none;
    color: black;
    font-size: 10px;
    width: 900px;
    height:250px;
}
.catalog-item-6{
    width: 900px;
    height:350px;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(224, 223, 208);
    margin-top: 70px;
    margin-left: -50px;
}
.catalog-logo-6{
    width: 230px;
    height: 360px;
}
.desk-6{
    position: absolute;
    margin-left: 250px;
    top: 2340px;
}

/*catalog#7*/

.catalog-item-link-7{
    text-decoration: none;
    color: black;
    font-size: 10px;
    width: 900px;
    height:250px;
}
.catalog-item-7{
    width: 900px;
    height:350px;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(224, 223, 208);
    margin-top: 70px;
    margin-left: -50px;
}
.catalog-logo-7{
    width: 230px;
    height: 360px;
}
.desk-7{
    position: absolute;
    margin-left: 250px;
    top: 2840px;
}

/*catalog#8*/

.catalog-item-link-8{
    text-decoration: none;
    color: black;
    font-size: 10px;
    width: 900px;
    height:250px;
}
.catalog-item-8{
    width: 900px;
    height:350px;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(224, 223, 208);
    margin-top: 70px;
    margin-left: -50px;
}
.catalog-logo-8{
    width: 230px;
    height: 360px;
}
.desk-8{
    position: absolute;
    margin-left: 250px;
    top: 3350px;
}

/*catalog#9*/

.catalog-item-link-9{
    text-decoration: none;
    color: black;
    font-size: 10px;
    width: 900px;
    height:250px;
}
.catalog-item-9{
    width: 900px;
    height:350px;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(224, 223, 208);
    margin-top: 70px;
    margin-left: -50px;
}
.catalog-logo-9{
    width: 230px;
    height: 360px;
}
.desk-9{
    position: absolute;
    margin-left: 250px;
    top: 3850px;
}

/*catalog#10*/

.catalog-item-link-10{
    text-decoration: none;
    color: black;
    font-size: 10px;
    width: 900px;
    height:250px;
}
.catalog-item-10{
    width: 900px;
    height:350px;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(224, 223, 208);
    margin-top: 70px;
    margin-left: -50px;
}
.catalog-logo-10{
    width: 230px;
    height: 360px;
}
.desk-10{
    position: absolute;
    margin-left: 250px;
    top: 4350px;
}

/*catalog#11*/

.catalog-item-link-11{
    text-decoration: none;
    color: black;
    font-size: 10px;
    width: 900px;
    height:250px;
}
.catalog-item-11{
    width: 900px;
    height:350px;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(224, 223, 208);
    margin-top: 70px;
    margin-left: -50px;
}
.catalog-logo-11{
    width: 230px;
    height: 360px;
}
.desk-11{
    position: absolute;
    margin-left: 250px;
    top: 4800px;
}